.body-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.gallery-blog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px; 
    max-width: 1080px; 
    width: 100%;
    margin: 0 auto;
}

.gallery-blog img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.gallery-blog img:hover {
    transform: scale(1.1);
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adjust the padding as needed */
}

.centered-image {
    max-width: 800px;
    height: auto;
    border-radius: 15px; /* Adjust the corner radius as needed */
}

.blog-para{
    line-height: 1.6;
}

.section-heading-blog {
    margin-top: 30px;
}

@media (max-width: 1024px) {
    .gallery-blog {
        grid-template-columns: repeat(3, 1fr);
        max-width: 600px;
    }
}

@media (max-width: 768px) {
    .gallery-blog {
        grid-template-columns: repeat(2, 1fr);
        max-width: 400px;
    }
}

@media (max-width: 426px) {
    .gallery-blog {
        grid-template-columns: 1fr;
        max-width: 250px;
        /* display: none; */
    }
    .body-blog{
        display: none;
    }
}

@media (min-width: 426px) {
    .carousel {
      display: none;
    }
  }

.contact-us-blog p {
    margin: 0 0 15px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .contact-us-blog {
        padding: 20px;
    }
    .blog-para{
        line-height: 1.6;
        padding: 20px;
    }
}


/* caraousel css */

.carousel {
    position: relative;
    max-width: 90%; /* Reduce size and add space on sides */
    overflow: hidden;
    border-radius: 15px;
    margin: 30px auto; /* Center the carousel and give top/bottom margin */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    flex-shrink: 0;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    width: 40px; /* Make the button a perfect circle */
    height: 40px; /* Make the button a perfect circle */
    padding: 0; /* Remove extra padding */
    cursor: pointer;
    border-radius: 50%;
    pointer-events: all;
}

.carousel-controls .prev {
    margin-left: 10px;
}

.carousel-controls .next {
    margin-right: 10px;
}
